Web References/m2msimplify/TAGExternalAPIImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.tag.crm.comarch.com/" name="TAGExternalAPIImplService" targetNamespace="http://webservice.tag.crm.comarch.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://m2msimplify.telekomaustria.com:443/TAGWebServices/tagExternalAPI?xsd=1" namespace="http://webservice.tag.crm.comarch.com/" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="https://m2msimplify.telekomaustria.com:443/TAGWebServices/tagExternalAPI?xsd=2" namespace="http://jaxb.dev.java.net/array" />
    </xsd:schema>
  </types>
  <message name="getSIMsOfflineInfo">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="identifier" type="tns:simIdentifier" />
    <part xmlns:ns1="http://jaxb.dev.java.net/array" name="simIds" type="ns1:stringArray" />
  </message>
  <message name="getSIMsOfflineInfoResponse">
    <part name="return" type="tns:simOfflineInformationResult" />
  </message>
  <message name="moveSIMsToBusinessUnit">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="businessUnitId" type="xsd:long" />
    <part name="simIdentifier" type="tns:simIdentifier" />
    <part xmlns:ns2="http://jaxb.dev.java.net/array" name="simIds" type="ns2:stringArray" />
  </message>
  <message name="moveSIMsToBusinessUnitResponse">
    <part name="return" type="tns:requestResult" />
  </message>
  <message name="moveSIMsToCostCenter">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="costCenterId" type="xsd:long" />
    <part name="simIdentifier" type="tns:simIdentifier" />
    <part xmlns:ns3="http://jaxb.dev.java.net/array" name="simIds" type="ns3:stringArray" />
  </message>
  <message name="moveSIMsToCostCenterResponse">
    <part name="return" type="tns:requestResult" />
  </message>
  <message name="getUsers">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part xmlns:ns4="http://jaxb.dev.java.net/array" name="domain" type="ns4:longArray" />
  </message>
  <message name="getUsersResponse">
    <part name="return" type="tns:usersResult" />
  </message>
  <message name="createUser">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="user" type="tns:user" />
  </message>
  <message name="createUserResponse">
    <part name="return" type="tns:requestResult" />
  </message>
  <message name="updateUsers">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="users" type="tns:userArray" />
  </message>
  <message name="updateUsersResponse">
    <part name="return" type="tns:requestResult" />
  </message>
  <message name="activateSIMs">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="serviceProfile" type="xsd:long" />
    <part name="simIdentifier" type="tns:simIdentifier" />
    <part xmlns:ns5="http://jaxb.dev.java.net/array" name="simIds" type="ns5:stringArray" />
  </message>
  <message name="activateSIMsResponse">
    <part name="return" type="tns:requestResult" />
  </message>
  <message name="addLabelToSIM">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="templateLabelId" type="xsd:long" />
    <part name="identifier" type="tns:simIdentifier" />
    <part name="simIds" type="xsd:string" />
  </message>
  <message name="addLabelToSIMResponse">
    <part name="return" type="tns:requestResult" />
  </message>
  <message name="bulkSMSSend">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="sourceBusinessUnitID" type="xsd:long" />
    <part name="message" type="xsd:string" />
    <part name="identifier" type="tns:simIdentifier" />
    <part xmlns:ns6="http://jaxb.dev.java.net/array" name="simIds" type="ns6:stringArray" />
  </message>
  <message name="bulkSMSSendResponse">
    <part name="return" type="tns:requestResult" />
  </message>
  <message name="changeSIMsServiceProfile">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="serviceProfileID" type="xsd:long" />
    <part name="identifier" type="tns:simIdentifier" />
    <part xmlns:ns7="http://jaxb.dev.java.net/array" name="simIds" type="ns7:stringArray" />
  </message>
  <message name="changeSIMsServiceProfileResponse">
    <part name="return" type="tns:changeServiceProfileResult" />
  </message>
  <message name="createTemplateLabels">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="templateLabels" type="tns:createTemplateLabelArray" />
  </message>
  <message name="createTemplateLabelsResponse">
    <part name="return" type="tns:requestResult" />
  </message>
  <message name="deactivateUsers">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part xmlns:ns8="http://jaxb.dev.java.net/array" name="users" type="ns8:longArray" />
  </message>
  <message name="deactivateUsersResponse">
    <part name="return" type="tns:requestResult" />
  </message>
  <message name="disconnectSessions">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="identifier" type="tns:simIdentifier" />
    <part xmlns:ns9="http://jaxb.dev.java.net/array" name="simIds" type="ns9:stringArray" />
  </message>
  <message name="disconnectSessionsResponse">
    <part name="return" type="tns:requestResult" />
  </message>
  <message name="getAllServiceProfiles">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part xmlns:ns10="http://jaxb.dev.java.net/array" name="partyRoleIds" type="ns10:longArray" />
  </message>
  <message name="getAllServiceProfilesResponse">
    <part name="return" type="tns:serviceProfilesResult" />
  </message>
  <message name="getBusinessUnitsByIds">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part xmlns:ns11="http://jaxb.dev.java.net/array" name="buIds" type="ns11:longArray" />
  </message>
  <message name="getBusinessUnitsByIdsResponse">
    <part name="return" type="tns:businessUnitsResult" />
  </message>
  <message name="getCostCentersByIds">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part xmlns:ns12="http://jaxb.dev.java.net/array" name="costCenterIds" type="ns12:longArray" />
  </message>
  <message name="getCostCentersByIdsResponse">
    <part name="return" type="tns:costCenterResult" />
  </message>
  <message name="getMyCustomer">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
  </message>
  <message name="getMyCustomerResponse">
    <part name="return" type="tns:customersResult" />
  </message>
  <message name="getSIMsOnlineInfo">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="identifier" type="tns:simIdentifier" />
    <part xmlns:ns13="http://jaxb.dev.java.net/array" name="simIds" type="ns13:stringArray" />
  </message>
  <message name="getSIMsOnlineInfoResponse">
    <part name="return" type="tns:simOnlineInformationResult" />
  </message>
  <message name="getTemplateLabels">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part xmlns:ns14="http://jaxb.dev.java.net/array" name="partyRoleIds" type="ns14:longArray" />
  </message>
  <message name="getTemplateLabelsResponse">
    <part name="return" type="tns:templateLabelsResult" />
  </message>
  <message name="getUsersOfMyCustomer">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
  </message>
  <message name="getUsersOfMyCustomerResponse">
    <part name="return" type="tns:usersResult" />
  </message>
  <message name="isServiceAvailable" />
  <message name="isServiceAvailableResponse">
    <part name="return" type="tns:isAvailableResult" />
  </message>
  <message name="removeLabelToSIM">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="templateLabelId" type="xsd:long" />
    <part name="identifier" type="tns:simIdentifier" />
    <part name="simId" type="xsd:string" />
  </message>
  <message name="removeLabelToSIMResponse">
    <part name="return" type="tns:requestResult" />
  </message>
  <message name="setUserCredentials">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="credentials" type="tns:credentials" />
  </message>
  <message name="setUserCredentialsResponse">
    <part name="return" type="tns:requestResult" />
  </message>
  <message name="suspendSIMs">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="identifier" type="tns:simIdentifier" />
    <part xmlns:ns15="http://jaxb.dev.java.net/array" name="simIds" type="ns15:stringArray" />
  </message>
  <message name="suspendSIMsResponse">
    <part name="return" type="tns:requestResult" />
  </message>
  <message name="terminateSIMs">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="identifier" type="tns:simIdentifier" />
    <part xmlns:ns16="http://jaxb.dev.java.net/array" name="simIds" type="ns16:stringArray" />
  </message>
  <message name="terminateSIMsResponse">
    <part name="return" type="tns:requestResult" />
  </message>
  <message name="updateBusinessUnits">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="bu" type="tns:businessUnitWritableArray" />
  </message>
  <message name="updateBusinessUnitsResponse">
    <part name="return" type="tns:requestResult" />
  </message>
  <message name="updateCostCenters">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="costCenter" type="tns:costCenterWritableArray" />
  </message>
  <message name="updateCostCentersResponse">
    <part name="return" type="tns:requestResult" />
  </message>
  <message name="updateMyCustomer">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="customer" type="tns:customerWritable" />
  </message>
  <message name="updateMyCustomerResponse">
    <part name="return" type="tns:requestResult" />
  </message>
  <portType name="tagExternalAPI">
    <operation name="getSIMsOfflineInfo" parameterOrder="login password identifier simIds">
      <input message="tns:getSIMsOfflineInfo" />
      <output message="tns:getSIMsOfflineInfoResponse" />
    </operation>
    <operation name="moveSIMsToBusinessUnit" parameterOrder="login password businessUnitId simIdentifier simIds">
      <input message="tns:moveSIMsToBusinessUnit" />
      <output message="tns:moveSIMsToBusinessUnitResponse" />
    </operation>
    <operation name="moveSIMsToCostCenter" parameterOrder="login password costCenterId simIdentifier simIds">
      <input message="tns:moveSIMsToCostCenter" />
      <output message="tns:moveSIMsToCostCenterResponse" />
    </operation>
    <operation name="getUsers" parameterOrder="login password domain">
      <input message="tns:getUsers" />
      <output message="tns:getUsersResponse" />
    </operation>
    <operation name="createUser" parameterOrder="login password user">
      <input message="tns:createUser" />
      <output message="tns:createUserResponse" />
    </operation>
    <operation name="updateUsers" parameterOrder="login password users">
      <input message="tns:updateUsers" />
      <output message="tns:updateUsersResponse" />
    </operation>
    <operation name="activateSIMs" parameterOrder="login password serviceProfile simIdentifier simIds">
      <input message="tns:activateSIMs" />
      <output message="tns:activateSIMsResponse" />
    </operation>
    <operation name="addLabelToSIM" parameterOrder="login password templateLabelId identifier simIds">
      <input message="tns:addLabelToSIM" />
      <output message="tns:addLabelToSIMResponse" />
    </operation>
    <operation name="bulkSMSSend" parameterOrder="login password sourceBusinessUnitID message identifier simIds">
      <input message="tns:bulkSMSSend" />
      <output message="tns:bulkSMSSendResponse" />
    </operation>
    <operation name="changeSIMsServiceProfile" parameterOrder="login password serviceProfileID identifier simIds">
      <input message="tns:changeSIMsServiceProfile" />
      <output message="tns:changeSIMsServiceProfileResponse" />
    </operation>
    <operation name="createTemplateLabels" parameterOrder="login password templateLabels">
      <input message="tns:createTemplateLabels" />
      <output message="tns:createTemplateLabelsResponse" />
    </operation>
    <operation name="deactivateUsers" parameterOrder="login password users">
      <input message="tns:deactivateUsers" />
      <output message="tns:deactivateUsersResponse" />
    </operation>
    <operation name="disconnectSessions" parameterOrder="login password identifier simIds">
      <input message="tns:disconnectSessions" />
      <output message="tns:disconnectSessionsResponse" />
    </operation>
    <operation name="getAllServiceProfiles" parameterOrder="login password partyRoleIds">
      <input message="tns:getAllServiceProfiles" />
      <output message="tns:getAllServiceProfilesResponse" />
    </operation>
    <operation name="getBusinessUnitsByIds" parameterOrder="login password buIds">
      <input message="tns:getBusinessUnitsByIds" />
      <output message="tns:getBusinessUnitsByIdsResponse" />
    </operation>
    <operation name="getCostCentersByIds" parameterOrder="login password costCenterIds">
      <input message="tns:getCostCentersByIds" />
      <output message="tns:getCostCentersByIdsResponse" />
    </operation>
    <operation name="getMyCustomer" parameterOrder="login password">
      <input message="tns:getMyCustomer" />
      <output message="tns:getMyCustomerResponse" />
    </operation>
    <operation name="getSIMsOnlineInfo" parameterOrder="login password identifier simIds">
      <input message="tns:getSIMsOnlineInfo" />
      <output message="tns:getSIMsOnlineInfoResponse" />
    </operation>
    <operation name="getTemplateLabels" parameterOrder="login password partyRoleIds">
      <input message="tns:getTemplateLabels" />
      <output message="tns:getTemplateLabelsResponse" />
    </operation>
    <operation name="getUsersOfMyCustomer" parameterOrder="login password">
      <input message="tns:getUsersOfMyCustomer" />
      <output message="tns:getUsersOfMyCustomerResponse" />
    </operation>
    <operation name="isServiceAvailable">
      <input message="tns:isServiceAvailable" />
      <output message="tns:isServiceAvailableResponse" />
    </operation>
    <operation name="removeLabelToSIM" parameterOrder="login password templateLabelId identifier simId">
      <input message="tns:removeLabelToSIM" />
      <output message="tns:removeLabelToSIMResponse" />
    </operation>
    <operation name="setUserCredentials" parameterOrder="login password credentials">
      <input message="tns:setUserCredentials" />
      <output message="tns:setUserCredentialsResponse" />
    </operation>
    <operation name="suspendSIMs" parameterOrder="login password identifier simIds">
      <input message="tns:suspendSIMs" />
      <output message="tns:suspendSIMsResponse" />
    </operation>
    <operation name="terminateSIMs" parameterOrder="login password identifier simIds">
      <input message="tns:terminateSIMs" />
      <output message="tns:terminateSIMsResponse" />
    </operation>
    <operation name="updateBusinessUnits" parameterOrder="login password bu">
      <input message="tns:updateBusinessUnits" />
      <output message="tns:updateBusinessUnitsResponse" />
    </operation>
    <operation name="updateCostCenters" parameterOrder="login password costCenter">
      <input message="tns:updateCostCenters" />
      <output message="tns:updateCostCentersResponse" />
    </operation>
    <operation name="updateMyCustomer" parameterOrder="login password customer">
      <input message="tns:updateMyCustomer" />
      <output message="tns:updateMyCustomerResponse" />
    </operation>
  </portType>
  <binding name="TAGExternalAPIImplPortBinding" type="tns:tagExternalAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="getSIMsOfflineInfo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="moveSIMsToBusinessUnit">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="moveSIMsToCostCenter">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="getUsers">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="createUser">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="updateUsers">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="activateSIMs">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="addLabelToSIM">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="bulkSMSSend">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="changeSIMsServiceProfile">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="createTemplateLabels">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="deactivateUsers">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="disconnectSessions">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="getAllServiceProfiles">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="getBusinessUnitsByIds">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="getCostCentersByIds">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="getMyCustomer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="getSIMsOnlineInfo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="getTemplateLabels">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="getUsersOfMyCustomer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="isServiceAvailable">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="removeLabelToSIM">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="setUserCredentials">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="suspendSIMs">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="terminateSIMs">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="updateBusinessUnits">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="updateCostCenters">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
    <operation name="updateMyCustomer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://webservice.tag.crm.comarch.com/" />
      </output>
    </operation>
  </binding>
  <service name="TAGExternalAPIImplService">
    <port name="TAGExternalAPIImplPort" binding="tns:TAGExternalAPIImplPortBinding">
      <soap:address location="https://m2msimplify.telekomaustria.com:443/TAGWebServices/tagExternalAPI" />
    </port>
  </service>
</definitions>